@import url('../abstracts/variables.css');

.navbar {
    width: 100%;
    height: 52px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: auto;
    color: white;
}

.nav-items > .top-title {
    font-size: 16px;
    font-weight: 600;
} 

.top-title a {
    font-family: var(--font-title);
    color: var(--color-white);
}

.nav-items > .links {
    align-self: center;
    word-spacing: 15px;
    justify-content: right;
    transition: all 0.25s;
}

.links img {
    width: 18px;
    height: 18px;
    margin-top: 2px;
    border-radius: 0 !important;
}

.navbar > .dropdown-modal {
    position: fixed;
    top: 62px;
    right: 30%;
    transform: translate(36.5%, 0);
    width: 320px;
    height: 450px;
    color: white;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s, visibility 0.25s;  
    background-color: #151516;
    box-shadow: 0 0px 2px #dbdbdb;
    z-index: 9999;
}

.dropdown-modal.visible {
    visibility: visible;
    opacity: 1;
}

.account-data {
    display: flex;
    align-items: center;
    margin: 20px 20px 0 20px;
}

.account-data img {
    border-radius: 30px;
    box-shadow: 0 0px 2px #dbdbdb;
}

.account-data span {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 16px;
    margin-left: 15px;
}


.dropdown-modal ul {
    padding: 20px;
} 

.dropdown-modal li {
    list-style: none;
    padding-bottom: 15px;
}

.dropdown-modal a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: 500;
    width: auto;
}

.dropdown-modal li:hover > a {
    color: #afafaf;
    transition: color 0.15s;
}

.dropdown-modal button {
    width: 100%;
    background-color: #2c2c2c;
    margin-top: 15px;
}

@media screen and (max-width: 1001px) {
    .nav-items {
        width: 60%;
    }
} 


@media screen and (max-width: 501px) {
    .nav-items {
        width: 90%;
    }

    .navbar > .dropdown-modal {
        position: fixed;
        top: 51px;
        right: 0%;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        color: white;
        border-radius: 0;
        background-color: black;
        box-shadow: none;
        z-index: 9999;
    }
} 