.search-container {
    width: 50%;
    display: inline-flex;
    margin-left: 0;
    box-sizing: border-box;
}

.nav-search {
    width: 100%;
    height: auto;
    padding: 8px 10px 8px 35px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 14px;
    background-image: url('../../../img/search_dark.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 10px center;
}

.search {
    max-width: 100%;
    width: 100%;
    padding: 10px 15px 10px 40px;
    background-color: white;
    border: 1px solid #aeaeae;
    margin-bottom: 10px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    font-family: var(--font-main);
    background-image: url('../../../img/search_dark.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 15px center;
}