<section class="modal container">
    <div class="modal-container">
        <div class="modal-content">
            <p>Choose article category</p>

            <div class="categories disable-user-select">
                <input name="select" id="other" type="radio" value="0" checked>
                <label for="other">Other</label>

                <input name="select" id="technology" type="radio" value="1">
                <label for="technology">Technology</label>

                <input name="select" id="travel" type="radio" value="2">
                <label for="travel">Travel</label>

                <input name="select" id="education" type="radio" value="3">
                <label for="education">Education</label>

                <input name="select" id="reading" type="radio" value="4">
                <label for="reading">Reading</label>

                <input name="select" id="movies" type="radio" value="5">
                <label for="movies">Movies</label>

                <input name="select" id="gaming" type="radio" value="6">
                <label for="gaming">Gaming</label>

                <input name="select" id="politics" type="radio" value="7">
                <label for="politics">Politics</label>

                <input name="select" id="entertaiment" type="radio" value="8">
                <label for="entertaiment">Entertainment</label>

                <input name="select" id="buisness" type="radio" value="9">
                <label for="buisness">Business</label>

                <input name="select" id="health-and-fitness" type="radio" value="10">
                <label for="health-and-fitness">Health & Fitness</label>

                <input name="select" id="career" type="radio" value="11">
                <label for="career">Career</label>

                <input name="select" id="food" type="radio" value="12">
                <label for="food">Food</label>

                <input name="select" id="self-improvement" type="radio" value="13">
                <label for="self-improvement">Self Improvement</label>
            </div>

            <button class="modal-button">Save and close</button>
            <p><button class="modal-close-button">Don't save</button></p>
        </div>
    </div>
</section>

<div x-data="{ previewView: false, fileContainerView: true }" class="textblock">
    <form class="editorForm" method="post" action="/Editor/Publish" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div x-show="fileContainerView" x-cloak x-on:drop="previewView = true, fileContainerView = false"
        x-transition:enter.duration.320ms class="file-container">

            <span id="main-title">Place your poster here or <a>open explorer</a></span>
            <input name="poster" x-on:change.prevent="PosterPreview.showPreview($el.files[0], $el), previewView = true, fileContainerView = false" type="file" class="poster" hidden>
        </div>

        <div x-show="previewView" x-cloak x-transition:enter.duration.300ms class="poster-preview">
            <img class="poster">
            <span x-on:click="previewView = false, fileContainerView = true, PosterPreview.clearFileInput(fileInput)" class="preview-close"><img width="16" height="16" src="~/img/exit.svg"></span>
        </div>

        <input name="title" type="text" class="title" placeholder="Story title..."/>
        <div contenteditable="true" class="content" data-placeholder="Write an interesting story..."></div>
        <input name="category" type="hidden" value="0" hidden>
        <input class="hidden-content" name="content" type="hidden" hidden>

        <tool-panel enable-tools="true"></tool-panel>

        <button type="submit" class="publish">Publish</button>
        <button type="button" name="preview" class="link-button publish">Category</button>
    </form>
</div>

<script>
    const localStorageManager = new LocalStorageManager();
    const title = document.querySelector("input.title");
    const content = document.querySelector(".content");

    const fileContainer = document.querySelector(".file-container");
    const fileInput = document.querySelector("input.poster");

    document.onsubmit = () => setHiddenValue(content, document.querySelector(".hidden-content"));

    document.ondrop = (event) => event.preventDefault();  
    document.ondragenter = (event) => event.preventDefault();
    document.ondragleave = (event) => event.preventDefault(); 
    document.ondragover = (event) => event.preventDefault();

    window.onload = () => {
        const draft = localStorageManager.getItemJson("article-draft");

        title.value = draft.title;
        content.innerHTML = draft.content;

        PosterPreview.openExplorer
        (
            document.querySelector(".file-container a"),
            document.querySelector(".file-container input")
        );

        PosterPreview.showPreviewOnDrop(fileContainer, fileInput);
    }

    window.onbeforeunload = () => {
        const draft = {
            title: title.value,
            content: content.innerHTML
        }

        localStorageManager.saveItemJson("article-draft", draft);
    }   
    
    const categoriesModal = new CategoriesModal(".modal-container", ".categories");

    const categoryButton = document.querySelector(".link-button");
    const modalSaveButton = document.querySelector(".modal-button");
    const modalCloseButton = document.querySelector(".modal-close-button");
    const categoryInput = document.getElementsByName("category")[0];

    categoryButton.onmousedown = () => categoriesModal.show();
    modalSaveButton.onmousedown = () => {
        categoryInput.value = categoriesModal.selectedCategory().value;
        categoriesModal.hide();
    }

    modalCloseButton.onmousedown = () => categoriesModal.hide();
</script>