<section class="modal container">
    <div class="modal-container">
        <div class="modal-content">
            <p>Choose article category</p>

            <div class="categories disable-user-select">
                <input name="select" id="other" type="radio" value="0" checked>
                <label for="other">Other</label>

                <input name="select" id="technology" type="radio" value="1">
                <label for="technology">Technology</label>

                <input name="select" id="travel" type="radio" value="2">
                <label for="travel">Travel</label>

                <input name="select" id="education" type="radio" value="3">
                <label for="education">Education</label>

                <input name="select" id="reading" type="radio" value="4">
                <label for="reading">Reading</label>

                <input name="select" id="movies" type="radio" value="5">
                <label for="movies">Movies</label>

                <input name="select" id="gaming" type="radio" value="6">
                <label for="gaming">Gaming</label>

                <input name="select" id="politics" type="radio" value="7">
                <label for="politics">Politics</label>

                <input name="select" id="entertaiment" type="radio" value="8">
                <label for="entertaiment">Entertainment</label>

                <input name="select" id="buisness" type="radio" value="9">
                <label for="buisness">Business</label>

                <input name="select" id="health-and-fitness" type="radio" value="10">
                <label for="health-and-fitness">Health & Fitness</label>

                <input name="select" id="career" type="radio" value="11">
                <label for="career">Career</label>

                <input name="select" id="food" type="radio" value="12">
                <label for="food">Food</label>

                <input name="select" id="self-improvement" type="radio" value="13">
                <label for="self-improvement">Self Improvement</label>
            </div>

            <button class="modal-button">Save and close</button>
            <p><button class="modal-close-button">Don't save</button></p>
        </div>
    </div>
</section>

<div class="textblock">
    <form class="editorForm" method="post" action="/Editor/Publish">
        <input name="poster" type="text" class="poster" placeholder="Poster url...">
        <input name="title" type="text" class="title" placeholder="Story title..."/>
        <div contenteditable="true" class="content" data-placeholder="Write an interesting story..."></div>
        <input name="category" type="hidden" value="1" hidden>
        <input class="hidden-content" name="content" type="hidden" hidden>

        <div class="editor-tools">
            <a class="tool" data-element="bold">B</a>
            <a class="tool" data-element="italic">I</a>
            <a class="tool" data-element="underline">U</a>
            <a class="tool" data-element="justifyLeft">JL</a>
            <a class="tool" data-element="justifyCenter">JC</a>
            <a class="tool" data-element="justifyRight">JR</a>
        </div>

        <button type="submit" class="publish">Publish</button>
        <button type="button" name="preview" class="link-button publish">Category</button>
    </form>

    <span class="message" style="display: none;">You are not logged into your account. <a class="link" href="/home/login">Please, Sign In.</a></span>
</div>

@if (ViewBag.Username == null) {
    <script>
        document.querySelector("button").disabled = true;
        document.querySelector(".message").style.display = "block";
    </script>
}

@section scripts {
    <script type="text/javascript" src="~/build/app.js"></script>

    <script>
        appendEditorTools();

        window.onsubmit = () => setHiddenValue(content, document.querySelector(".hidden-content"));

        //editor.addEventListener("submit", publish);

        window.addEventListener("load", loadDraft);
        window.addEventListener("beforeunload", saveDraft);   
        
        const categoriesModal = new CategoriesModal
        (
            document.querySelector(".modal-container"),
            document.querySelector(".categories")
        );

        const categoryButton = document.querySelector(".link-button");
        const modalSaveButton = document.querySelector(".modal-button");
        const modalCloseButton = document.querySelector(".modal-close-button");
        const categoryInput = document.getElementsByName("category")[0];

        categoryButton.onmousedown = () => categoriesModal.show();
        modalSaveButton.onmousedown = () => {
            categoryInput.value = categoriesModal.selectedCategory().value;
            categoriesModal.hide();
        }

        modalCloseButton.onmousedown = () => categoriesModal.hide();
    </script>
}