<link rel="stylesheet" type="text/css" href="~/css/account.css">

<h2>Sign In</h2>
<a class="back" href="/Articles/All"><img src="~/img/arrowLeft.svg" alt="Icon" width="16" height="16">Back</a>

<div class="main">
    <form method="post">
        <p><input type="text" name="username" class="username" placeholder="Your username..."></p>
        <p><input type="password" name="password" placeholder="Your password..."></p>
        <button type="submit">Sign In</button>
        <p><a href="/Home/Registration">You don't have an account? Register now.</a></p>
    </form>
</div>

<style> header {display: none;} </style>
<script type="application/javascript" src="~/js/account.js"></script>