<h2>Welcome back</h2>
<a class="back" href="/articles/all/"><img src="~/img/arrowLeft.svg" alt="Icon" width="16" height="16">Back</a>

<div class="main">
    <form method="post">
        <p><input type="text" name="username" class="username" placeholder="Your username..."></p>
        <p><input type="password" name="password" placeholder="Your password..."></p>
        <button type="submit">Sign In</button>
        <p><a href="/home/registration">You don't have an account? Register now.</a></p>
    </form>
</div> 

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/layout/login-register.css">
}