<link rel="stylesheet" type="text/css" href="~/css/account.css">

<h2>Sign Up</h2>
<a class="back" href="/Articles/All"><img src="~/img/arrowLeft.svg" alt="Icon" width="16" height="16">Back</a>

<div class="main">
    <form method="post" class="form" action="/Home/Create" onsubmit="return checkInputs(this)">
        <p><input type="text" name="mail" class="data" placeholder="Your mail..."></p>
        <p><input type="text" name="username" class="data" placeholder="Your username..."></p>
        <p><input type="password" name="password" class="data" placeholder="Your password..."></p>
        <button type="submit">Sign Up</button>
    </form>
    <span class="errorOutput"></span>
</div>

<style> header {display: none;} </style>
<script type="text/javascript" src="~/build/app.js"></script>