<div class="top-items">
    <a class="back-button" href="/articles/all/"><img src="~/img/arrowLeft.svg" alt="Icon">Back</a>
</div>

<section x-data="{ validationProcessVisibility: false }" id="main">
    <div class="account-form">
        <div class="block top">
            <span class="greeting">Create an account</span>
            <p class="gratitude">First step towards becoming an author</p>
        </div>

        <div class="block middle">
            <form method="post" action="CreateAccount" onsubmit="return formValidation.validate(this)">
                <input name="mail" type="text" placeholder="Your mail...">
                <input name="username" type="text" placeholder="Your username...">
                <input name="password" type="password" placeholder="Your password...">
                <button type="submit" x-on:click="validationProcessVisibility = !validateStatus()">Sign In</button>
            </form>
        </div>

        <div class="block bottom">
            <form method="post" style="top: 20px;"> 
                <div class="dilimiter">
                    <div class="line"></div>
                    <span>or</span>
                    <div class="line"></div>
                </div>
                <button id="external-login">Sign up with Google</button>
            </form>
            <p class="account-create-message">Do you have an account? <a href="/home/signin">Sign in</a></p>
        </div>
    </div>
    
    <div x-show="validationProcessVisibility" x-transition class="validation-process">
        <span id="errorLog"></span>
    </div>
</section>

<script>
    const formValidation = new FormValidation(document.getElementsByTagName('form')[1], "errorLog");
    const validateStatus = () => formValidation.validate();
</script>

<style>
    @@media only screen and (max-width: 501px) {
        .account-create-message {
            position: relative;
            top: 30px !important;
        }   
    }
</style>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/layout/login-register.css">
}