<div class="top-items">
    <a class="back-button" href="/articles/all/"><img src="~/img/arrowLeft.svg" alt="Icon">Back</a>
</div>

<section id="main">
    <div class="account-form">
        <div class="block top">
            <span class="greeting">Welcome back</span>
            <p class="gratitude">Thank you for being with us</p>
        </div>

        <div class="block middle">
            <form method="post">
                <input name="username" type="text" placeholder="Your username..." required>
                <input name="password" type="password" placeholder="Your password..." required>
                <button type="submit">Sign In</button>
            </form>
        </div>

        <div class="block bottom">
            <form method="post"> 
                <div class="dilimiter">
                    <div class="line"></div>
                    <span>or</span>
                    <div class="line"></div>
                </div>
                <button id="external-login">Sign in with Google</button>
            </form>
            
            <p class="account-create-message">New to Infinity States? <a href="/home/signup">Sign up</a></p>
        </div>
    </div>
</section>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/layout/login-register.css">
}