<div class="filters">
    <relay value="All articles" class="activeF"></relay>
    <relay value="By followed authors" action="/Articles/ByFollowedAuthors"></relay>
</div>

<div class="articles">
<ul class="articlesList"></ul></div>
<script type="text/javascript" src="~/build/app.js"></script>
<script>window.onload = () => loadArticles();</script>