<div class="filters">
    <a href="#" class="filter">All articles</a>
    <a href="#" class="filter">By followed authors</a>
    <a href="#" class="filter">Trends</a>
    <a href="#" class="filter">Popular authors</a>
</div>

<div class="articles"><ul class="articlesList"></ul></div>
<script type="text/javascript" src="~/js/articles.js"></script>
<script>window.onload = () => loadAllArticles();</script>