<div class="textblock">
    <img class="poster">
    <p name="title" type="text" class="title"></p>
    <a class="authorLink"></a>
    <pre class="content"></pre>
</div>

<a class="up">Up</a>

<script type="text/javascript" src="~/build/app.js"></script>
<script>
    window.onload = () => Article.Load();
    window.addEventListener("scroll", onScroll);
    up.addEventListener("click", scrollToTop);
</script>