@using Infinity_States.Models

@{
    ViewBag.Title = ViewBag.Article.Title;
}

<div class="textblock">
    <img class="poster" src="@ViewBag.Article.Poster">
    <p name="title" type="text" class="title">@ViewBag.Article.Title</p>
    <a class="authorLink" href="/users/@ViewBag.Article.AuthorId">@ViewBag.Article.Author</a>
    <pre class="content"></pre>
</div>

<a class="up">Up</a>

<script type="text/javascript" src="~/build/app.js"></script>
<script>
    window.addEventListener("scroll", onScroll);
    up.addEventListener("click", scrollToTop);
    
    content.innerHTML = "@ViewBag.Article.Content";
    content.innerHTML = content.innerText;
</script>