@using Infinity_States.Data
@model Article

<div class="textblock">
    <img class="poster" src="@Model.Poster">
    <span name="title" type="text" class="title">@Model.Title</span> <br>
    <a class="author-link" href="/users/@Model.AuthorId">@Model.Author</a>
    <pre class="content"></pre>
</div>

<a class="up">Up</a>

<script>
    const content = document.querySelector(".content");
    const up = document.querySelector(".up");

    window.addEventListener("scroll", onScroll);
    up.addEventListener("click", scrollToTop);
    
    content.innerHTML = "@Model.Content";
    content.innerHTML = content.innerText;
</script>