@{
    ViewBag.Title = ViewBag.Article.Title + " - Edit";
}

<div class="textblock">
    <form class="editorForm" method="post" action="/Articles/Update/">
        <input name="id" type="hidden" id="articleId" value="@ViewBag.Article.Id">
        <input name="poster" type="text" class="poster" placeholder="Poster url..." value="@ViewBag.Article.Poster">
        <input name="title" type="text" class="title" placeholder="Title..." value="@ViewBag.Article.Title">
        <div contenteditable="true" class="content" data-placeholder="Write an interesting story...">@ViewBag.Article.Content</div>
        <button type="submit" class="publish">Update</button>

        <input class="hidden-content" name="content" type="hidden" hidden>
    </form>

    <tool-panel enable-tools="true"></tool-panel>
</div>

<script>
    const content = document.querySelector(".content");
    content.innerHTML = content.innerText;

    window.onsubmit = () => setHiddenValue(document.querySelector(".content"), document.querySelector(".hidden-content"));
</script>