@using Infinity_States.Models

<div class="user-articles-list">
    <span class="title">Your Articles</span>

    <form method="post" class="logout" action="/Account/Logout">
        <button type="submit">Sign out</button>
    </form>

    <ul class="user-articles">
        @foreach(Article article in ViewBag.Articles)
        {
            <li class="user-article">
                <a href="/articles/article/@article.Id">@article.Title</a>
                <a class="icon-button" title="Delete" href="/Account/DeleteArticle?id=@article.Id"><img class="element-icon" src="../img/delete.svg"></a>
                <a class="icon-button" title="Edit" href="/articles/edit/@article.Id"><img class="element-icon" src="../img/edit.svg"></a>
            </li>
        }
    </ul>
</div>

<script type="text/javascript" src="~/build/app.js"></script>
