@using Infinity_States.Data

<div id="main">
    <div class="user-articles-list">
        <div class="title-bar">
            <span class="title">Your articles</span>
            <button class="link-button">Import article</button>
        </div>
        
        <content-type-select types="Published; Drafts"></content-type-select>

        <ul class="user-articles">
            @foreach(Article article in ViewBag.Articles)
            {
                <li class="user-article">
                    <a href="/articles/article/@article.Id">@article.Title</a>
                    <a class="icon-button" title="Delete" href="/account/deletearticle/@article.Id"><img class="element-icon" src="../img/delete.svg"></a>
                    <a class="icon-button" title="Edit" href="/articles/edit/@article.Id"><img class="element-icon" src="../img/edit.svg"></a>
                </li>
            }

            @if (ViewBag.Articles.Count < 1) {
                <li class="content-create-message">
                    <p>You have not written any articles</p>
                    <button onclick="window.location='/editor'">Create new</button>
                </li>
            }
        </ul>
    </div>
</div>