@using Infinity_States.Models

<div class="userArticlesList">
    <span class="title">Your Articles</span>

    <form method="post" class="logout" action="/Account/Logout">
        <button type="submit">Logout</button>
    </form>

    <ul class="userArticles">
        @foreach(Article article in ViewBag.Articles)
        {
            <li class="userArticle">
                <a href="/Articles/Article/@article.Id">@article.Title</a>
                <a class="linkButton" href="/Account/DeleteArticle?@article.Id"><img class="elementIcon" src="../img/delete.svg"></a>
                <a class="linkButton" href="/Articles/Edit/@article.Id"><img class="elementIcon" src="../img/edit.svg"></a>
            </li>
        }
    </ul>
</div>

<script type="text/javascript" src="~/build/app.js"></script>
