<div class="userArticlesList">
    <span class="title">Your Articles</span>

    <form method="post" class="logout" action="/Account/Logout">
        <button type="submit">Logout</button>
    </form>

    <ul class="userArticles"></ul>
</div>

<script type="text/javascript" src="~/build/app.js"></script>
<script>window.addEventListener("load", loadUserArticles);</script>
