<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("CssPartial")
    @RenderSection("styles", false)
    <link rel="shortcut icon" type="image/png" href="~/img/icon.png"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="header-elements">
            <span class="hd-item logo">Infinity States</span>

            <div class="header-section">
                <a href="/articles/all/" title="Articles" class="hd-item link"><img src="~/img/compass.svg" alt="Icon" width="18" height="18" class="icon"></a>
                <a href="/editor" title="Editor" class="hd-item link"><img src="~/img/plus.svg" alt="Icon" width="18" height="18" class="icon"></a>
                <a href="/account" title="Account" class="hd-item link"><img src="~/img/profile.svg" alt="Icon" width="18" height="18" class="icon"></a>
                <a title="Search" class="hd-item link search-button"><img src="~/img/search.svg" alt="Icon" width="18" height="18" class="icon"></a>
            </div>
            <a class="link menu"><img src="~/img/menu.svg" width="24" height="24"></a>

            <!--<div class="account-modal">
                <a style="color: white;" href="/account">Your articles</a>
            </div>-->
        </div>
    </header>
    @RenderBody()
    @await Html.PartialAsync("ScriptsPartial")
    @RenderSection("scripts", false)
</body>
</html>