@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../master.css');
@import url('animations.css');
@import url('shared.css');

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
    -webkit-tap-highlight-color: transparent;
}

::placeholder {
    color: #5b5b5b;
}

a {
	color: var(--color-dark);
	text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

img { border-radius: 12px; max-height: 450px; }

li { list-style: none; }

.content-type-select {
    width: 100%;
    margin-top: 5px;
    word-spacing: 5px;
    user-select: none;
}

.content-type-select span {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font-title);
    color: #8c8c8c;
}

.content-type-select > span.selected {
    color: black;
}

.content-type-select > .line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 5px;
}