@using Infinity_States.Models;

<div class="user-container">
    <div class="user-data">
        <img class="user-avatar" src="https://i.pinimg.com/474x/b8/26/a9/b826a91631bfc1acee3da026167af466.jpg" />
        <span class="username">@ViewBag.UserData.Username</span>

        <form method="post" class="follow" action="/Users/Follow">
            <input type="hidden" name="author" value="@ViewBag.UserData.Username" class="author" />
            <button type="submit">Follow</button>
        </form>
    </div>

    <div class="content-choose">
        <span class="active">Articles</span>
        <span class="freeze">Posts</span>
    </div>
</div>

<div class="articles">
    <ul class="articlesList">
        @foreach (Article article in ViewBag.UserArticles)
        {
            <li>
                <img class="articleImg" src="@article.Poster">
                <p><a href="/Articles/Article/@article.Id">@article.Title</a></p>
            </li>
        }
    </ul>
</div>

@section scripts {
    <script type="text/javascript" src="~/build/app.js"></script>
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/layout/users.css">
}