@using Infinity_States.Data;

<div class="user-container">
    <div class="user-data">
        <img class="user-avatar" src="~/img/default_avatar.jpg" />
        <span class="username">@ViewBag.UserData.Username</span>

        <form method="post" class="follow" action="/Users/Follow">
            @Html.AntiForgeryToken()
            <input type="hidden" name="author" value="@ViewBag.UserData.Username" class="author" />
            
            @if (ViewBag.Followed)
            {
                <button class="link-button" type="submit">Followed</button>
            }
            else
            {
                <button type="submit">Follow</button>
            }
        </form>
    </div>

    <content-type-select types="Articles; Posts"></content-type-select>
</div>

<div class="articles">
    @await Component.InvokeAsync("ArticleList")
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/layout/users.css">
}