@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Inter, Segoe UI, sans-serif;
}

a, span, button {
    -webkit-tap-highlight-color: transparent;
}

a {
	color: #000;
	text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

header {
    width: 100%;
    height: 52px;
    background-color: #000;
    display: inline-block;
    transition: all 0.25s;
}

header .elements {
	width: 40%;
	color: #fff;
	position: relative;
	left: 50%;
	margin-left: -20%;
	top: 16px;
}

header .logo {
    font-family: Inter, Segoe UI, sans-serif;
	display: inline-block;
    font-weight: 600;
	float: left;
}

header .links {
	display: inline-block;
	float: right;
	word-spacing: 10px;
	font-weight: 500;
}

header .mobile {
    flex-flow: column wrap;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    margin-top: 20px;
}

header .icon {
    margin-left: 10px;
    position: relative;
    top: 3px;
}

header .link { color: #fff; padding-bottom: 5px; }
header .link:hover {color: #a5a5a5; transition: all 0.25s; }

header .menu { display: none; cursor: pointer; float: right; }

header img { border-radius: 0; }

img { border-radius: 10px; max-height: 500px; }

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    min-width: 70px;
}

button:hover { background-color: #303030; }

button:disabled { text-decoration: line-through; cursor: default; }

li { list-style: none; }

@media screen and (max-width: 1001px) {
    header .elements { width: 90%; margin-left: -45%; }
    header .links { display: none; }
    header .menu { display: block; }
    header img { border-radius: 0; position: relative; top: -2.5px; }
} 