@import url('../components/filter.css');

.articles {
    margin-top: 30px;
    width: 40%;
    position: relative;
    left: 50%;
    margin-left: -20%;
}

.article-block {
    height: 100%;
    box-shadow: 0px 0px 0px 1px #ababab inset;
    border-radius: 10px;
    list-style: none;
    margin-bottom: 50px;
}

.article-block img {
    width: 100%;
    height: auto;
    max-height: 500px;
}        

.article-poster {
    box-sizing: border-box;
}

.article-poster img {
    border-radius: 10px 10px 0 0;
}

.article-content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.article-content >
.title {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 2.5px;
}

.title a {
    font-family: var(--font-article-title);
}

.article-content >
.author-and-data {
    font-weight: 500;
    padding-bottom: 10px;
    font-family: var(--font-title);
    font-size: 14px;
    color: #5b5b5b;
}

.author-and-data > a {
    color: #5b5b5b;
    font-family: var(--font-title);
}


.article-content >
.bottom-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.bottom-content >
button {
    margin-left: auto;
    order: 2;
    font-weight: 500;
}

.user-articles-list {
	width: 40%;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
}

.user-articles-list span {
    font-family: var(--font-title);
    float: left;
}

.user-articles-list .link-button {
    width: 120px;
    position: absolute;
    right: 0;
}

.user-articles-list ul {
    width: 100%;
    position: absolute;
    top: 60px;
}

.user-articles-list a { font-weight: 500; }

.user-article {
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ababab;
    margin-bottom: 10px;
}

.icon-button {
    float: right;
    margin-left: 10px;
}

.content-create-message {
    text-align: center;
    font-weight: 500;
    padding: 20px;
    border: 1px solid;
    border-radius: 12px;
}

.content-create-message p {
    margin-bottom: 15px;
}

.element-icon {
    border-radius: 0;
    position: relative;
    top: 1px;
    width: 16px;
    height: 16px;
}

.page-controls {
    float: right;
}

.page-control {
    display: inline-block;
    text-align: center;
    border: 1.5px solid #000;
    background-color: transparent;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    min-width: 50px;
}

@media screen and (max-width: 1001px) {  /* Tablets */
    .articles {
        width: 60%;
        margin-left: -30%;
    }

    .user-articles-list {
        width: 60%;
    }
}

@media screen and (max-width: 501px) { /* Smartphones */
    .articles {
        width: 90%;
        margin-left: -45%;
    }

    .user-articles-list {
        width: 90%;
    }
}