textarea::-webkit-scrollbar {
    width: 0px;
}

.textblock {
    width: 40%;
    height: 100%;
    position: relative;
    top: 20px;
    left: 50%;
    bottom: 0;
    margin-left: -20%;
}

.poster {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.file-container {
    width: 100%;
    height: 100px;
    border: 1px solid;
    border-radius: 12px;
    display: grid;
    place-content: center;
    margin-bottom: 20px;
}

.file-container span {
    font-family: var(--font-title);
    font-weight: 500;
    user-select: none;
}

.file-container a {
    text-decoration: underline;
    color: #6a6a6a;
    cursor: pointer;
}

span.title, input.title {
    border: none;
    outline: none;
    width: 100%;
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 700;
}

.author-and-date {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.author-and-date > .avatar {
    font-family: var(--font-title);
    border-radius: 30px;
    width: 44px;
    height: 44px;
    margin-right: 15px;
}

.author-and-date > a {
    font-size: 16px;
    font-weight: 600;
}

.author-and-date > .publication-time {
    color: #606060;
    font-family: var(--font-title);
    font-weight: 400;
    margin-left: auto;
}

.line {
    width: 100%;
    border: 1px solid;
    margin-top: 15px;
    margin-bottom: 5px;
}

.content {
    display: inline-block;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    text-align: justify;
    white-space: pre-wrap;
    font-size: 16px;
}

.content:empty:before {
    content: attr(data-placeholder);
    color: #5b5b5b;
}

.content ul li {
    list-style-type: disc;
    list-style-position: inside;
}

.content ol li {
    list-style-type: auto;
    list-style-position: inside;
}

.content img {
    width: 100% !important;
}

.preview-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: grid;
    place-content: center;
    width: 30px;
    height: 29px;
    color: white;
    cursor: pointer;
    backdrop-filter: blur(20px) brightness(0.5);
    border-radius: 16px;
    font-family: var(--font-title);
    font-weight: 500;
}

.tool-panel {
    display: flex;
    margin-bottom: 20px;
    background-color: #efefef;
    padding: 8px 8px 8px 10px;
    border-radius: 8px;
    gap: 10px;
    font-weight: 500;
    user-select: none;
}

.tool-panel .tool {
    cursor: pointer;
}

.tool-panel .tool:hover {
    color: var(--color-button-hover);
}

.content a {
    text-decoration: underline;
    font-weight: 500;
}

.content img {
    width: 100%;
    height: auto;
    max-height: 550px;
}

.publish {
    float: left;
    width: 90px;
    margin-right: 10px;
}

.up {
    position: fixed;
    display: none;
    right: 10px; 
    top: 95%; 
    padding: 10px;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}

.author-link-edit {
    font-weight: 500;
    color: #5b5b5b;
    padding: 1px;
}

.message {
    margin-top: 50px;
    position: absolute;
}

.message a { text-decoration: underline; font-weight: 500; }

.disable-user-select {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.modal {
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 14px;
}

.modal button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.modal p {
    font-size: 16px;
    font-weight: 600;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://img4.goodfon.com/original/1920x1080/3/d0/anime-malysh-peizazh-priroda.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: flex-end;
    overflow: hidden;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, visibility 0.5s;
}

section .visible {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.modal-content {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.modal-content p {
    font-family: var(--font-title);
}

.modal-content .modal-button {
    cursor: pointer;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    width: 200px;
    margin-top: 40px;
}

.modal-content .modal-button:hover {
    background-color: #303030;
}

.modal-content .modal-close-button {
    cursor: pointer;
    background: transparent;
    border: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.categories input[type=radio] {
    display: none;
}

.categories input[type=radio]:checked + label {
    transition: all 0.3s;
    background: #000;
    color: #fff;
}

.categories label {
    display: inline-flexbox;
    cursor: pointer;
    padding: 5px 16px;
    font-weight: 500;
    background-color: transparent;
    color: #000;
    border: 1.5px solid #000;
    border-radius: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 576px) {
    .modal-content {
        margin: auto;
        width: 400px;
    }
}

@media screen and (max-width: 1001px) {  /* Tablets */
    .textblock {
        width: 60%;
        margin-left: -30%;
    }
}

@media screen and (max-width: 501px) { /* Smartphones */
    .textblock {
        width: 90%;
        margin-left: -45%;
    }
}

@media screen and (min-width: 999px) { /* Vertical editor */
    .tool-panel {
        position: fixed;
        top: 50%;
        left: 0px;
        transform: translate(10px, -50%);
        flex-flow: column;
        text-align: center;
    }
}
