header {display: none;}

h2 {
	font-family: var(--font-title);
	font-weight: 700;
	text-align: center;
	margin-top: 150px;
}

.main {
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main input {
	border: none;
	outline: none;
	width: 100%;
	height: 18px;
	color: #fff;
	background-color: #000;
	font-size: 14px;
	font-weight: 500;
	padding: 12px;
	margin-bottom: 10px;
	border-radius: 8px;
}

.main button {
	margin-top: 5px;
	width: 90px;
}

.main a {
	position: relative;
	top: 10px;
	font-weight: 500;
	text-decoration: underline;
}

.back {
	font-weight: 500;
	position: absolute;
	left: 30px;
	top: 30px;
}

.back img {
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.errorOutput { position: relative; top: 10px; user-select: none; font-weight: 500; }


@media screen and (max-width: 1001px) { /* Tablets */
	h2 { margin-top: 100px; }
	.back { margin-top: 15px; margin-left: 15px; }
	.main { width: 450px; }
}

@media screen and (max-width: 501px) { /* Smartphones */
	h2 { margin-top: 150px; }
	.back { top: 10px; left: 10px; }
	.main { width: 80%; margin-left: -12px; }
}
