.navbar {display: none;}

* {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/549e9b77-4c90-4c7f-8d0e-772a4ba70576/ddy3bu3-40eaae73-1bcc-4b6b-8f7c-5744667e37f1.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU0OWU5Yjc3LTRjOTAtNGM3Zi04ZDBlLTc3MmE0YmE3MDU3NlwvZGR5M2J1My00MGVhYWU3My0xYmNjLTRiNmItOGY3Yy01NzQ0NjY3ZTM3ZjEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.T1KQP5AY4mDDr4jZA_S70rwwBc8GGyZuDI-9cV3XhcQ');
	background-position: center center;
	background-size: cover;
}

.top-items {
	position: absolute;
	width: 100%;
	height: 20%;
	text-align: center;
}

.top-items > .back-button {
	position: absolute;
	width: auto;
	height: auto;
	position: fixed;
	top: 30px;
	left: 30px;
	font-weight: 500;
	background-color: white;
	padding: 7px 20px;
	border-radius: 30px;
	text-decoration: none;
}

.back-button img {
	width: 14px;
	height: 14px;
	position: relative;
	right: 6px;
	top: 1.25px;
}

#main {
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	box-sizing: border-box;
}

#main input {
	font-family: var(--font-main);
	border: none;
	outline: none;
	width: 100%;
	height: 38px;
	color: white;
	background-color: black;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 10px;
}


#main button {
	margin-top: 0;
	font-family:  var(--font-main);
	width: 90px;
	height: 32px;
	outline: none;
	border: none;
	cursor: pointer;
	background-color: black;
	color: white;
	padding: 8px 12px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 14px;
}


.account-form {
	display: grid;
	grid-template-rows: repeat(auto-fill, max(183.3px));
	width: 430px;
	height: 550px;
	background-color: white;
	border-radius: 12px;
}

.account-form > .block {
	width: 85%;
	position: relative;
	left: 7.5%;
	height: 100%;
}

.account-form > .block.top {
	padding-top: 55px;
	text-align: center;
}

.block.top > .greeting {
	font-size: 20px;
	font-family:  var(--font-title);   
	font-weight: bold;
}

.block.top > .gratitude {
	width: auto;
	height: auto;
	font-size: 14px;
	font-family:  var(--font-title);
	color: #b1b1bb;
}

.account-form > .block.middle {
	display: table;
	height: 100%;
}

.block.middle > form {
	display: table-cell;
	vertical-align: middle;
}

.account-form > .block.bottom {
	display: table;
	text-align: center;
	height: 100%;
}

.block.bottom > form {
	display: table-cell;
	position: absolute;
	height: min-content;
}

form > .dilimiter {
	display: flex;
	height: min-content;
	align-items: center;
}

.dilimiter > .line {
	width: 100vh;
	height: 1px;
	background-color: black;
}

form > #external-login {
	width: 100%;
	background-color: white;
	color: black;
	border: 1px solid;
	height: 34px;
	margin-top: 25px;
}

.block.bottom > .account-create-message {
	font-size: 15px;
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 20px;
	font-family: var(--font-title);
	font-weight: 500;
	color: #6a6a6a;
}

.account-create-message a {
	text-decoration: underline;
	font-weight: 600;
}

.validation-process {
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 10px;
	backdrop-filter: blur(50px);
	border-radius: 12px;
}

.validation-process span {
	color: white;
	font-size: 15px;
	font-weight: 500;
}

@media only screen and (max-width: 501px) {
	body {
		background: white;
	}

	.account-form {
		width: 90%;
		position: relative;
		left: 5%;
	}

	.account-form > .block {
		width: 100%;
		position: relative;
		left: 0;
	}

	.top-items > .back-button {
		top: 10px;
		left: 10px;
		z-index: 9999;
		background-color: transparent;
	}
}